body {
    background: #f8f8ff;
}

#resultsTable {
    border-collapse: collapse;
}

#resultsTable td, #resultsTable th {
    border-spacing: 2px;
    border-width: 1px;
    border-color: gray;
}

.FillWidth {
    width: 100%
}